<h4>Robo Control</h4>

<!--<a class="btn btn-info" (click)="reconnect()">{{}}</a>-->

<div class="controls">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="btn btn-info" [class.active]="buttonState().w" (mouseup)="pushTheButton('')" (mousedown)="pushTheButton('w')">Go</div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a class="btn btn-info" [class.active]="buttonState().a" (mouseup)="pushTheButton('')" (mousedown)="pushTheButton('a')"><</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-info" [class.active]="buttonState().s" (mouseup)="pushTheButton('')" (mousedown)="pushTheButton('s')">|</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-info" [class.active]="buttonState().d" (mouseup)="pushTheButton('')" (mousedown)="pushTheButton('d')">></a>
    </div>
  </div>
</div>
