<h4>Robo Control</h4>

<div class="video-section mb-3">
  <div class="video-controls mb-2">
    @if (!isVideoStreamActive()) {
      <button class="btn btn-success" (click)="startVideoStream()">Start Video Stream</button>
    } @else {
      <button class="btn btn-danger" (click)="stopVideoStream()">Stop Video Stream</button>
    }
  </div>
  
  @if (videoStreamUrl()) {
    <div class="video-container">
      <img [src]="videoStreamUrl()" alt="Robot Camera Stream" class="video-stream" />
    </div>
  }
</div>

<div class="controls">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="btn btn-info" [class.active]="buttonState().w" (mouseup)="pushTheButton('w', false)" (mousedown)="pushTheButton('w', true)">Go</div>
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a class="btn btn-info" [class.active]="buttonState().a" (mouseup)="pushTheButton('a', false)" (mousedown)="pushTheButton('a', true)"><</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-info" [class.active]="buttonState().s" (mouseup)="pushTheButton('s', false)" (mousedown)="pushTheButton('s', true)">|</a>
    </div>
    <div class="col-md-4">
      <a class="btn btn-info" [class.active]="buttonState().d" (mouseup)="pushTheButton('d', false)" (mousedown)="pushTheButton('d', true)">></a>
    </div>
  </div>
</div>
