
<h1>Ставим софт на Raspberry Pi</h1>

<div class="row">
  <div class="col-md-12">
    <h5>Гайд по установке необходимого на Raspberry Pi (малина)</h5>
    <p>
      У меня в наличии уже устаревшая rpi серии 3 model b+. Следующая, 4 серия обладает более мощным процессором (в полтора раза) и бОльшим объёмом оперативной памяти.
      Данный гайд подойдёт для любой модели.<br />
      Операционная система, с которой мы работаем Raspbian. Хотя на малину можно поставить разнообразные ОС, нам нужна именно Raspbian, так как некоторые используемые пакеты работают только с этой ОС.<br />
      Итак, чтобы завести малину, нам потребуется компьютер или ноутбук и micro SD флеш карта. Цена флеш карты зависит от её размера и скорости работы.
      Для работы нам потребуется не более 8 Гб, поэтому при покупке смотрите именно такого размера. Так же не берите самую дешёвую, могут быть непонятные тормоза. В целом, стоят они не дорого и не критично, какой фирмы покупать.<br />
      Так же необходимо эту флеш карту вначале засунуть в домашний компьютер или ноутбук. Озаботьтесь переходником. Если у вас ноутбук со встроенным кард-ридером типа SD,
      тогда потребуется переходник micro SD - SD<br />

      <img class="preview" [src]="imagesUrl + '/Img/View/2/f7b6dab8-c502-431d-f4a4-08d914bdd412'" /><br /><br />

      Если у вас стационарный компьютер без кард ридеров, тогда нужен переходник micro SD - usb. Стоят очень дёшево, какой брать - не принципиально (могут быть под один разъём micro SD, может быть множество разных разъёмов)<br />

      <img class="preview" [src]="imagesUrl + '/Img/View/2/60ccf13c-2f02-4483-f4a6-08d914bdd412'" /><br /><br />
    </p>

    <div>
      Далее, заходим на официальный сайт raspberrypi.org в раздел <a href="https://www.raspberrypi.org/software/" target="_blank">программного обеспечения</a><br />
      Скачиваем Raspberry Pi Imager - через эту программу осуществляется заливка Raspbian OS на флеш карту.<br />
      Выбираем там Raspberry Pi OS (32 bit). Desktop версия означает, что установится так же графическая оболочка, то есть, можно будет пользоваться малиной как обычным компьютером с подключённым монитором.<br />
      Более продвинутые пользователи могут поставить минимальную версию и пользоваться командной строкой, например, подключившись к малине по сети. <br />
      Далее выбираем нашу флешку и жмём заливку. Флеш карту после этого можно вставлять в малину
      <div class="row text-center">
        <div class="col-md-6">
          <img class="preview" [src]="imagesUrl + '/Img/View/2/ede69dbd-af8d-4929-f49e-08d914bdd412'" />
        </div>
        <div class="col-md-6">
          <img class="preview" [src]="imagesUrl + '/Img/View/2/9f75aefa-c257-45cc-f4a8-08d914bdd412'" />
        </div>
      </div>
      <br />
      При первом запуске будет установка системы - необходимо ввести имя пользователя и пароль, так же желательно подключиться сразу к домашнему вайфаю
    </div>

    <br />

    <h5>Установка необходимого дополнительного программного обеспечения</h5>
    <p>
      Практически все команды выполняются на линуксе (Raspbian - это линукс) в терминале. Если у вас десктопная версия, то терминал можно запустить из меню пуск, либо горячими клавишами (погуглите, вроде, ctrl+t)<br />
      <app-survey-prompt [title]="'Поставить обновления на операционную систему'" [text]="'sudo apt-get update'" />
      <app-survey-prompt [title]="'Узнать текущий IP адрес малины внутри домашней сети:'" [text]="'hostname –I'" />
      <app-survey-prompt [title]="'В первую очередь нам понадобится git, через него будем загружать исходный код проекта Jeeroway:'" [text]="'sudo apt-get install git '" />
      <app-survey-prompt [title]="'Чтобы запустить код проекта нам понадобится node js. А чтобы его поставить, необходимо вначале задать ссылку:'" [text]="'curl -sL https://deb.nodesource.com/setup_14.x | sudo -E bash -'" />
      <app-survey-prompt [title]="'Далее установка node js'" [text]="'sudo apt-get install -y nodejs'" />
      <app-survey-prompt [title]="'Можем проверить текущую версию ноды:'" [text]="'node –v'" />
      <app-survey-prompt [title]="'Так же проверить версию пакетного менеджера (ставится вместе с нодой)'" [text]="'npm -v'" />
      <app-survey-prompt [title]="'Создать папку в текущем каталоге пользователя'" [text]="'mrdir app '" />
      <app-survey-prompt [title]="'Зайти в эту папку'" [text]="'cd app'" />
      <app-survey-prompt [title]="'Закачиваем исходный код проекта Jeeroway (ссылка поменяется)'" [text]="'git clone https://jeer.visualstudio.com/testNode/_git/testNode '" />
      <app-survey-prompt [title]="'Посмотреть все файлы в текущей папке (смотреть в каждой папке)'" [text]="'ls'" />
      <app-survey-prompt [title]="'Переходим во вложенные папки к исполняемым файлам'" [text]="'cd testNode/'" />
      <app-survey-prompt [title]="'Ещё ниже'" [text]="'cd nodeTest/'" />
      В папке nodeTest должен располагаться файл package.json и другие исполняемые файлы (видно через команду ls)
      <app-survey-prompt [title]="'Обновим npm пакеты'" [text]="'npm i'" />
      <app-survey-prompt [title]="'Установим пакет raspi'" [text]="'npm i raspi '" />
      <app-survey-prompt [title]="'Установим пакет raspi-serial'" [text]="'npm i raspi-serial'" />
      <app-survey-prompt [title]="'Запускаем наше приложение вручную для проверки работоспособности'" [text]="'node app.js'" />
      Сервер node js с приложением Jeeroway запускается на порту 5000. Вбиваем в интернет-проводнике localhost:5000, должен отобразиться наш проект, если всё запущено правильно
    </p>
    <div>
      <h5>Поставим проект Jeeroway в автозагрузку. Чтобы нода запускалась при загрузке raspberry pi</h5>
      <app-survey-prompt [title]="'Устанавливаем автозагрузчик pm2'" [text]="'sudo npm install pm2 –g '" />
      <app-survey-prompt [title]="'Добавляем проект Jeeroway в pm2'" [text]="'pm2 start app.js '" />
      <app-survey-prompt [title]="'Далее необходимо прописать автозагрузку'" [text]="'pm2 startup ubuntu '" />
      <app-survey-prompt [title]="'Полная команда от пользователя'" [text]="'sudo env PATH=$PATH:/usr/bin /usr/lib/node_modules/pm2/bin/pm2 startup ubuntu -u pi --hp /home/p'" />
      <app-survey-prompt [title]="'Сохранение изменений'" [text]="'pm2 save '" />
      <app-survey-prompt [title]="'Просмотр запускаемых проектов'" [text]="'pm2 list '" />
      <app-survey-prompt [title]="'Просмотр состояния запущенных проектов'" [text]="'pm2 monit'" />
      <app-survey-prompt [title]="'Остановка проекта по порядковому номеру'" [text]="'pm2 stop 0 '" />
      <app-survey-prompt [title]="'Айпи адрес'" [text]="'Ifconfig'" />
    </div>
  </div>
</div>
