<div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="bi-images"></i>
        <span class="fs-4" style="padding-left:17px;">Jeeroway Imgs</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link @(ViewContext.RouteData.Values["controller"].ToString().ToLower()=="home" ? "active" : "text-white")">
                <i class="bi-house-door"></i>
                Home
            </a>
        </li>

        <li>
            <a href="/Albums" class="nav-link @(ViewContext.RouteData.Values["controller"].ToString().ToLower()=="albums" ? "active" : "text-white")">
                <i class="bi-image"></i>
                Albums
            </a>
        </li>
    </ul>
    <hr>
    @*<div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>*@
</div>