<form class="form-horizontal" [formGroup]="roboForm" (ngSubmit)="onSubmit()">
  <h4>{{ roboForm.value['id'] ? 'Update ' : 'Create new ' }}robot</h4>
  <hr>

  <div class="form-group row">
    <label class="col-md-2 control-label" for="name">Name*</label>
    <div class="col-md-10">
      <input class="form-control" type="text" formControlName="name" />
      <form-validation [model]="roboForm.controls['name']" fieldName="name"></form-validation>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-2 control-label" for="description">Description</label>
    <div class="col-md-10">
      <textarea class="form-control" formControlName="description"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-primary mr-2">{{ roboForm.value['id'] ? 'Update' : 'Create' }}</button>
      <a [routerLink]="['/robo/list']" class="btn btn-secondary"><- to robo list</a>
    </div>
  </div>
</form>
