<div class="home-wrapper">
  <h1>Робо улей</h1>

  @if (service.isAuth) {
    <p>
      Добро пожаловать, {{ service.User?.userName }}
      <a [routerLink]="['/']" (click)="logOut()">[Выход]</a>
    </p>
    <p>Хорошего дня</p>
  } @else {
    <p>Добро пожаловать.</p>
    <ul>
      <li><a [routerLink]="['/login']">Войдите</a></li>
      <li>или <a [routerLink]="['/register']">Зарегистрируйтесь</a></li>
    </ul>
  }

  <section>
    <div>Мы строим роботов</div>
    <div>
      Jeeroway - робот первого поколения. Это гусеничная платформа с рукой-манипулятором.
      На данном этапе управление осуществляется людьми из любой точки мира, требуется лишь стабильный интернет
    </div>
    <div>
      Возможности:
      <ul>
        <li>Можно порулить реальным роботом на незаконной свалке и очистить нашу планету</li>
        <li>Можно поставить робота на дачу и помочь бабушке прополоть грядки от сорняков</li>
        <li>Можно поставить робота дома и с работы проверить, выключен ли утюг (и даже вытащить вилку из розетки)</li>
        <li>Можно поставить развлекательный стенд вашей организации на любой конференции</li>
        <li>Можно сделать настоящую игру, гонки или танковые бои на реальных роботах</li>
      </ul>
    </div>
  </section>
</div>
