<div class="alert alert-secondary mt-4" role="alert">
    <span style="font-size: 14px;">// @Title</span><br />
    <span class="oi oi-terminal mr-2" aria-hidden="true"></span>
    @Text
</div>

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Text { get; set; }
}
