@page "/"

<h1>Проект гусеничного робота Jeeroway</h1>

<p>
    Всем привет,<br />
    На этом ресурсе представлено описание проекта, а так же детальные инструкции (с картинками) по самостоятельной сборке<br />
    (официальная группа вк)<br />
    (помощь проекту)<br />
    (пожелания и предложения можно <a href="mailto:phoenix_net@@bk.ru">отправить на почту</a>)
</p>

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    Вы можете не только добавить добавить сайт в избранное, но и скачать его для оффлайн использования прямо из строки браузера
    <img src="/img/home/install.png" />
</div>

<p>
    <h4>Глобальные возможности и цели проекта</h4>
    <ul>
        <li>
            Наличие нескольких участников позволит организовать соревнования между операторами лёгких роботов
        </li>
        <li>
            Возможность очищения пляжей от мусора и избавление от незаконных свалок мусора
        </li>
        <li>
            Игры с котиками
        </li>
        <li>
            При наличии робота на даче вы сможете удалённо проверить из другого города выключены ли электроприборы, помочь с прополкой и поливкой грядок
        </li>
    </ul>
</p>

<p>
    <h4>Назначение</h4>
    Гусеничный робот предназначен для перемещения небольших грузов. Управление осуществляется оператором (пользователем) через терминал (компьютер) с использованием сети интернет
</p>

<p>
    <h4>Описание</h4>
    Робот представляет из себя гусеничную платформу. Имеет руку-манипулятор для захвата предметов. Присутствует камера для передачи изображения. Имеется батарея для автономной работы.
    Перед начаом использования оператор регистрируется на платформе по управлению (ссылка), там же регистрирует своего робота для возможности установления связи и непосредственного управления.
</p>

<p>
    <h4>Требования и ограничения</h4>
    Наличие WiFi сети с подключением к интернету или доступность мобильной 3G/4G/5G связи
</p>

<p>
    <h4>Внешний вид</h4>
    (карусель с картинками)
</p>

<p>
    <h4>Технические характеристики</h4>
    <ul>
        <li>
            габариты ДШВ: : 50х25х40 см
        </li>
        <li>
            вес: 2кг
        </li>
        <li>
            автономный запас хода: 1ч
        </li>
    </ul>
</p>