  <h4>Robo List</h4>
  <div class="form-group row">
    <div class="col-lg-1 col-lg-10">
      <a [routerLink]="['/robo/edit']">
        <input type="submit" value="Добавить нового робота" class="btn btn-primary" />
      </a>
    </div>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (robot of dataSource(); track robot.id) {
        <tr>
          <td>{{robot.name}}</td>
          <td>{{robot.description}}</td>
          <td style="width:80px;">
            <a [routerLink]="['/robo/edit', robot.id]">
              <input type="submit" value="Edit" class="btn btn-primary">
            </a>
          </td>
          <td style="width:80px;">
            <a [routerLink]="['/robo/control', robot.id]">
              <input type="submit" value="Рулить" class="btn btn-info">
            </a>
          </td>
          <td style="width:80px;">
            <a [routerLink]="['/robo/details', robot.id]">
              <input type="submit" value="Details" class="btn btn-primary">
            </a>
          </td>
          <td style="width:80px;">
            <input type="button" (click)="Delete(robot.id)" value="Delete" class="btn btn-danger">
          </td>
        </tr>
      }
    </tbody>
  </table>
