# first run manually: docker network create nginx-proxy-man
# docker compose run --rm certbot certonly --webroot --webroot-path /var/www/certbot/ -d jeeroway.ru -d www.jeeroway.ru --email phoenix_net@bk.ru --agree-tos --no-eff-email
# Step 1: Comment out HTTPS block in nginx.conf
# Step 2: docker compose up -d webserver
# Step 3: docker compose run --rm certbot certonly --webroot --webroot-path /var/www/certbot/ -d jeeroway.ru -d www.jeeroway.ru
# Step 4: Uncomment HTTPS block in nginx.conf
# Step 5: docker compose restart webserver
version: '3.8'

services:
  webserver:
    image: nginx:latest
    ports:
      - 80:80
      - 443:443
    restart: always
    volumes:
      - ../frontend:/etc/nginx/html
      - ../nginx/conf:/etc/nginx/conf.d:ro
      - ../certbot/www:/var/www/certbot/:ro
      - ../certbot/conf/:/etc/nginx/ssl/:ro
    networks:
      - nginx-proxy-man    # network outside

  certbot:
    image: certbot/certbot:latest
    volumes:
      - ../certbot/www/:/var/www/certbot/:rw
      - ../certbot/conf/:/etc/letsencrypt/:rw
    # Uncomment entrypoint after obtaining certificates for auto-renewal
    # entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

  jeerowaydb:
    image: mysql:8.0.31
    container_name: jeerowaydbcontainer
    restart: always
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    environment:
      MYSQL_ROOT_PASSWORD: "<type_root_password>"
      MYSQL_DATABASE: jeerowaydb
      MYSQL_USER: app
      MYSQL_PASSWORD: "<type_password>"
    ports:
      - 3333:3306
    networks:
      - nginx-proxy-man

#  imagesdb:
#    image: mysql:8.0.31
#    container_name: imagesdbcontainer
#    restart: always
#    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
#    environment:
#      MYSQL_ROOT_PASSWORD: "<type_root_password>"
#      MYSQL_DATABASE: imagesdb
#      MYSQL_USER: app
#      MYSQL_PASSWORD: "<type_password>"
#    ports:
#      - 3334:3306
#    networks:
#      - nginx-proxy-man

networks:
  nginx-proxy-man:
    external: true
